<ul class="nav nav-tabs" role="tablist" id="casinoTab">
  <li class="active"><a href="#casino_info" role="tab" data-toggle="tab">1. Casino Info</a></li>
  <li><a href="#contact_info" role="tab" data-toggle="tab">2. Contact Info</a></li>
  <li><a href="#gaming_amenities" role="tab" data-toggle="tab">3. Gaming Amenities</a></li>
  <li><a href="#casino_features" role="tab" data-toggle="tab">4. Casino Features</a></li>
  <li><a href="#subscription" role="tab" data-toggle="tab">5. Subscription</a></li>
  <li><a href="#review" role="tab" data-toggle="tab">6. Review & Submit</a></li>
</ul>

<%= f.fields_for :casino, resource.casino do |casino_form| %>
	<%= casino_form.hidden_field :id %>
	<!-- Tab panes -->
	<div class="tab-content" id="casinoTabContent">
	  <div class="tab-pane active" id="casino_info">
	  	<div class="panel">

			<%= render(partial: "tab_casino_info", locals: {f: f}) %>
			
		</div>
	  </div>
	  <div class="tab-pane" id="contact_info">
	  	<div class="panel">
	  		<%= render(partial: "tab_casino_contact_info", locals: {f: f}) %>
	      	
	    </div>
	  </div>
	  <div class="tab-pane" id="gaming_amenities">
	  	<div class="panel">
	  		<%= render(partial: "tab_casino_gaming_amenities", locals: {f: f}) %>
	  	</div>
	  </div>

	  <!--tab content for casino features-->
	  <div class="tab-pane" id="casino_features">
	  	<div class="panel">
	  		<%= render(partial: "tab_casino_features", locals: {f: f}) %>
	  	</div>
	  </div>
	  <!--end of tab content for casino features-->

	  <!--tab content for subscription-->
	  <div class="tab-pane" id="subscription">
	  	<div class="panel">
	  		<%= render(partial: "tab_casino_subscription", locals: {f: f}) %>
	  	</div>
	  </div>
	  <!--end of tab content for subscription-->

	  <div class="tab-pane" id="review">
	  	<div class="panel">

	  		<%= render(partial: "tab_casino_review", locals: {f: f}) %>
	    	
	    </div>
	  </div>

	</div>
	<!-- end of tab panes -->
	
<% end %>

<script>
	function goPage(page){
		$('#casinoTab a:eq(' + page + ')').tab('show');
		$(document).scrollTop(0);
	}

	$(document).ready(function(){

		// setTimeout(function(){
		// 	$('#error_explanation').remove();
		// }, 3000)

		setTimeout(function(){$('#casinoTab a:last').tab('show')}, 100);

	});
</script>