<div class="well">

  <div class="row form-group">
    <div class="col-sm-3">
      &nbsp;<br/>
      &nbsp;<br/>
      &nbsp;<br/>
      &nbsp;<br/>
      &nbsp;<br/>
      <%= link_to "<< Back to Review Bids", casino_bids_bids_path, class: "btn btn-primary btn-sm" %>

    </div>
    <div class="col-sm-6 text-center">
      <h1>
        Show Bid Details<br/>
        for<br/>
        <b><%= @bid.user.player.username  %></b>
      </h1>
    </div>
    <div class="col-sm-3">
      <div class="pull-right">
      <% if @bid.status == "Active" or @bid.status == "" %>
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        <%= link_to "Make an Offer", '#', class: "btn btn-primary btn-sm full btn-make-offer" %><br/>
        &nbsp;<br/>
        <%= link_to "Decline this Bid", decline_bid_path, class: "btn btn-primary btn-cancel btn-sm full" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Bid Summary</h3>
        </div>

        <div class="well">
          <div class="row">
            <label class="col-sm-5">Player username:</label>
            <label class="col-sm-7">
              <%= @bid.user.player.username %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-5">Wager level for this bid:</label>
            <label class="col-sm-7"><%= @bid.wager_level %>(<%= @bid.player_category %>)</label>
          </div>

          <div class="row">
            <label class="col-sm-5">Player's Bid Fee:</label>
            <label class="col-sm-7">$<%= number_with_delimiter(@bid.bid_fee) %></label>
          </div>

          <div class="row">
            <label class="col-sm-5">Bid fee reimbursement:</label>
            <label class="col-sm-7">
              <%= (@bid.bid_fee_reimbursement ? "Yes" : "No") %>
            </label>
          </div>


          <div class="row">
            <label class="col-sm-5">Bid close Date:</label>
            <label class="col-sm-7">
              <%= @bid.close_at.strftime("%B %d, %Y") %>&nbsp;
              <% if @bid.close_at >= Date.today %>
                (<%= Date.parse(@bid.close_at.strftime("%B %d, %Y")).mjd-Date.today.mjd %> days from now)
              <% end %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-5">Bid Submission Date:</label>
            <label class="col-sm-7"><%= @bid.created_at.strftime("%B %d, %Y") %></label>
          </div>


          <div class="row">
            <label class="col-sm-5">Type of Bid:</label>
            <label class="col-sm-7">
              <%= (@bid.by_market ? "Market" : "Select") %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-5">Offers received:</label>
            <label class="col-sm-7">
              <%= @bid.offers.where("offer_status is null or offer_status!=?","Declined by casino").count %>
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Player's Profile</h3>
        </div>

        <div class="well">
          <div class="row">
            <label class="col-sm-6">Player gender:</label>
            <label class="col-sm-6"><%= @bid.user.player.gender %></label>
          </div>

          <div class="row">
            <label class="col-sm-6">Age:</label>
            <label class="col-sm-6">
              <%= Date.today.year - @bid.user.player.date_of_birth.year  %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-6">City, State:</label>
            <label class="col-sm-6">
              <%= @bid.user.player.city  %>, <%= @bid.user.player.state  %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-6">Country:</label>
            <label class="col-sm-6">
              <%= @bid.user.player.country  %>
            </label>
          </div>

          <div class="row">
            <label class="col-sm-6">Player's registration date:</label>
            <label class="col-sm-6"><%= @bid.user.created_at.strftime("%B %d, %Y") %></label>
          </div>

          <div class="row">
            <label class="col-sm-6">Player's wager level in profile:</label>
            <label class="col-sm-6"><%= @bid.user.player.wager_level %></label>
          </div>
          <div class="row">
            <label class="col-sm-6">&nbsp;</label>
            <label class="col-sm-6">&nbsp;</label>
          </div>
          <div class="row">
            <label class="col-sm-6">&nbsp;</label>
            <label class="col-sm-6">&nbsp;</label>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Player's bid history and casino rating</h3>
        </div>

        <div class="well">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th class="text-center">Category</th>
                    <th class="text-center">Wager Level</th>
                    <th class="text-center">Bids<br/>Submitted</th>
                    <th class="text-center">Offers<br/>Accepted</th>
                    <th class="text-center">Casino Rating<br/>(Highest: 5)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">Dolphin</td>
                    <td class="text-center">$10,000 - $50,000</td>
                    <td class="text-center"><%= @bid.user.bids.where("player_category=?", "Dolphin").count %></td>
                    <td class="text-center">
                      <%= @bid.user.bids.where("status=?", "Accepted").where("player_category=?", "Dolphin").count %>
                    </td>
                    <td class="text-center">
                      -
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Orca</td>
                    <td class="text-center">$50,001 - $200,000</td>
                    <td class="text-center"><%= @bid.user.bids.where("player_category=?", "Orca").count %></td>
                    <td class="text-center">
                      <%= @bid.user.bids.where("status=?", "Accepted").where("player_category=?", "Orca").count %>
                    </td>
                    <td class="text-center">
                      -
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Gray Whale</td>
                    <td class="text-center">$200,001 - $500,000</td>
                    <td class="text-center"><%= @bid.user.bids.where("player_category=?", "Gray Whale").count %></td>
                    <td class="text-center">
                      <%= @bid.user.bids.where("status=?", "Accepted").where("player_category=?", "Gray Whale").count %>
                    </td>
                    <td class="text-center">
                      -
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Fin Whale</td>
                    <td class="text-center">$500,001 - $1,000,000</td>
                    <td class="text-center"><%= @bid.user.bids.where("player_category=?", "Fin Whale").count %></td>
                    <td class="text-center">
                      <%= @bid.user.bids.where("status=?", "Accepted").where("player_category=?", "Fin Whale").count %>
                    </td>
                    <td class="text-center">
                      -
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Blue Whale</td>
                    <td class="text-center">More than $1,000,000</td>
                    <td class="text-center"><%= @bid.user.bids.where("player_category=?", "Blue Whale").count %></td>
                    <td class="text-center">
                      <%= @bid.user.bids.where("status=?", "Accepted").where("player_category=?", "Blue Whale").count %>
                    </td>
                    <td class="text-center">
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <label class="col-sm-3">
              Arrival Date:
            </label>
            <label class="col-sm-3">
              Departure Date:
            </label>
            <label class="col-sm-3">
              Adults:
            </label>
            <label class="col-sm-3">
              Children:
            </label>
          </div>
        </div>
        <div class="bottom-bordered">
          <div>
            <div class="col-sm-3">
              <%= @bid.arrival_date.strftime("%A, %B %d, %Y") %>
            </div>
            <div class="col-sm-3">
              <%= @bid.departure_date.strftime("%A, %B %d, %Y") %>
            </div>
            <div class="col-sm-3">
              <%= @bid.adults %>
            </div>
            <div class="col-sm-3">
              <%= @bid.children %>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><b>Accomodations: </b><%= @bid.preference_accomodations_level %></div>
                
              </div>

              <div class="row form-group">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_accomodations %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><b>Dining: </b><%= @bid.preference_dining_level %></div>
              </div>

              <div class="row form-group">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_dining %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><b>Entertainment & Recreation: </b><%= @bid.preference_entertainment_level %></div>
              </div>

              <div class="row form-group">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_entertainment %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="row">
                <div class="col-sm-12"><b>Transportation: </b><%= @bid.preference_transportation_level %></div>
              </div>

              <div class="row form-group">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_transportation %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><b>Gaming: </b><%= @bid.preference_gaming_level %></div>
              </div>

              <div class="row form-group">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_gaming %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="row">
                <div class="col-sm-12"><b>Other Preferences: </b><%= @bid.preference_other_level %></div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="preference-box">
                    <%= @bid.preference_other %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="form-group text-center">
    <%= link_to "Make an Offer", "#", class: "btn btn-primary btn-sm btn-make-offer" %>
  </div>

  <%= render(partial: "new_offer", locals: {}) %>

</div>


<script>

$(document).ready(function(e){
  $("#offer_expiration_time").addClass("time-select")
  $("#offer_expiration_date_show").width(80)
  var today = new Date();
  var dd = today.getDate();
  // today.setDate(dd - 1);
  // dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd='0'+dd
  } 

  if(mm<10) {
      mm='0'+mm
  }

  if(!$("#offer_expiration_date_show" ).val()){
    $( "#offer_expiration_date_show" ).val( mm + "/" + dd + "/" + yyyy );
    $( "#offer_expiration_date" ).val( yyyy + "-" + mm + "-" + dd );
    $( "#offer_expiration_date_show" ).val( mm + "/" + dd + "/" + yyyy );
    $( "#offer_expiration_date" ).val( yyyy + "-" + mm + "-" + dd );
  }

  $( "#offer_expiration_date_show" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      dateFormat: "mm/dd/yy",
      altField: "#offer_expiration_date",
      altFormat: "yy-mm-dd",
      minDate: mm + "/" + dd + "/" + yyyy,
      onClose: function( selectedDate ) {
        $( "#bid_departure_date_show" ).datepicker( "option", "minDate", selectedDate );
      }
  });

  $(".btn-make-offer").click(function(e){
    $("#new-offer-cover").hide();
    return false;
    
  });

  $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({
        "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": false, //Button which allows you to edit the generated HTML. Default false
        "link": true, //Button to insert a link. Default true
        "image": true, //Button to insert an image. Default true,
        "color": false //Button to change color of font  
      });
    });

  $("#new-offer-cover").show();

  

});
</script>
